.faq {
    padding: 75px 0;

    @include phones() {
        padding: 15px 0;
    }

    .faq__container {
        align-items: center;
    }

    .faq__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        @include phones() {
            margin-bottom: 15px;
        }

        .list__item {
            background: #FFFFFF;
            padding: 15px 30px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include phones() {
                padding: 5px 15px;
            }

            .item__text {
                margin: 0;
                font-size: 18px;
                font-weight: 500;

                @include phones() {
                    font-size: 7px;
                }
            }

            .item__btn {
                width: 35px;
                height: 35px;
                background: none;
                background: url('../images/icons/faq-open.svg') center center no-repeat;
                border: none;
                background-size: contain;

                @include phones() {
                    width: 10px;
                    height: 10px;
                }
            }

            &--active {
                .item__btn {
                    background: url('../images/icons/faq-close.svg') center center no-repeat;
                    background-size: contain;
                }
            }
        }

        .list__item-about {
            height: 0;
            overflow: hidden;

            &--active {
                height: initial;
                background: $gray-bg;
                padding: 25px 30px;
                margin-bottom: 10px;

                .item-about__text {
                    font-size: 18px;
                    font-weight: 300;

                    @include phones() {
                        font-size: 7px;
                    }
                }
            }
        }
    }

    .faq__btn {
        background: linear-gradient(90deg, #0B02E2 0%, #8000FF 105.29%);
        border-radius: 32px;
        color: #FFFFFF;
        transition: .5s;
        padding: 20px 35px;
        border: none;
        font-size: 20px;
        font-weight: 700;

        @include phones() {
            font-size: 8px;
            padding: 5px 15px;
        }

        &:hover {
            background: $orange;
        }
    }
}