.footer {
    padding: 40px 0;
    background: url('../images/footer-bg.jpg') center center no-repeat;
    background-size: cover;
    margin-top: 60px;

    @include tablets() {
        padding: 20px 0;
        margin-top: 30px;
    }

    @include phones() {
        padding: 15px 0;
        margin-top: 15px;
    }

    .footer__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include tablets() {
            flex-wrap: wrap;
        }
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;

        @include tablets() {
            width: 40%;
        }

        .footer__logo {
            display: flex;
            width: 300px;
            height: 65px;
            background: url('../images/logo-footer.svg') center center no-repeat;
            margin-bottom: 20px;

            @include tablets() {
                margin-bottom: 15px;
                width: 215px;
                height: 50px;
                background: url('../images/logo-footer-mob.svg') center center no-repeat;
                background-size: contain;
            }

            @include phones() {
                margin-bottom: 15px;
                width: 115px;
                height: 22px;
                background: url('../images/logo-footer-mob.svg') center center no-repeat;
            }
        }

        .footer__link {
            color: #fff;
            font-size: 18px;
            transition: .3s;

            @include tablets() {
                font-size: 14px;
            }

            @include phones() {
                font-size: 7px;
            }

            &:hover {
                color: $orange;
            }
        }
    }

    .footer__list {
        display: flex;
        width: 40%;
        justify-content: space-between;

        @include tablets() {
            width: 60%;
        }

        .list__item {

            .item__link {
                color: #fff;
                transition: .3s;
                font-size: 18px;

                @include tablets() {
                    font-size: 14px;
                }

                @include phones() {
                    font-size: 7px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .footer__right {
        display: flex;
        flex-direction: column;
        width: 15%;
        align-items: flex-end;

        @include tablets() {
            width: 100%;
        }

        .footer__phone {
            color: #fff;
            font-size: 18px;
            margin-bottom: 20px;

            @include tablets() {
                font-size: 16px;
                margin-bottom: 10px;
            }

            @include phones() {
                font-size: 7px;
                margin-bottom: 5px;
            }

            &:hover {
                color: $orange;
            }
        }
    }

    .footer__socials {
        display: flex;

        .socials__link {
            width: 40px;
            height: 40px;
            margin-right: 25px;
            transition: .3s;

            @include tablets() {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            @include phones() {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }

            &--vk {
                background: url('../images/icons/vk.svg') center center no-repeat;
                background-size: contain;

                &:hover {
                    background: url('../images/icons/vk-active.svg') center center no-repeat;
                    background-size: contain;
                }
            }

            &--inst {
                background: url('../images/icons/inst.svg') center center no-repeat;
                background-size: contain;

                &:hover {
                    background: url('../images/icons/inst-active.svg') center center no-repeat;
                    background-size: contain;
                }
            }

            &--fb {
                background: url('../images/icons/fb.svg') center center no-repeat;
                background-size: contain;

                &:hover {
                    background: url('../images/icons/fb-active.svg') center center no-repeat;
                    background-size: contain;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}