// resolutions
$desktop: 1200px;
$laptop: 1048px;
$tablets: 768px;
$phones: 576px;
$landscape-width: 850px;
$landscape-height: 450px;

//colors
$orange: #FF7A00;
$gray: #A5A3A3;
$gray-bg: #F5F4F4;
$blue: #4641FF;