<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тут.Военник</title>

    <!-- Подключаем стили -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/slick.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <!-- Подключаем стили -->
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="#" class="header__logo"></a>
                <div class="header__nav">
                    <ul class="nav__menu">
                        <li class="menu__item">
                            <a href="#" class="item__link">Услуги</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Отзывы</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Статьи</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Вопрос-ответ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Контакты</a>
                        </li>
                    </ul>
                    <a href="tel:+79991233456" class="btn nav__phone">+7 (999) 123-34-56</a>
                </div>
            </div>
        </header>
        <h2 class="title contacts__title">Контакты</h2>
        <section class="section contacts">
            <div class="container contacts__container">
                <div class="contacts__info">
                    <p class="info__text">E-mail: info@tut-voennik.ru</p>
                    <p class="info__text">Телефон: +7 (999) 123-23-23</p>
                    <div class="info__socials">
                        <a href="#" class="socials__link socials__link--vk"></a>
                        <a href="#" class="socials__link socials__link--inst"></a>
                        <a href="#" class="socials__link socials__link--fb"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section text">
            <div class="container text__container">
                <h1 class="title text__title">Заголовок для SEO текста</h1>
                <p class="text__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in diam at odio rhoncus dignissim id
                    quis eros. Vestibulum ac dapibus tellus. Sed sodales nec odio feugiat sollicitudin. Pellentesque
                    luctus porta elementum. Vestibulum ut mauris quis nibh suscipit lacinia. Curabitur auctor molestie
                    erat vitae placerat. Cras luctus lorem magna, sit amet egestas ligula facilisis sit amet. Praesent
                    suscipit, lectus vitae suscipit mattis, tortor ipsum aliquet quam, non semper odio lorem id lacus.
                    Donec congue metus sed magna congue, non convallis nulla cursus. Fusce imperdiet metus vel tellus
                    fermentum, nec suscipit tellus blandit. Ut sollicitudin quis urna sed luctus. Etiam dignissim metus
                    auctor lorem venenatis, at sollicitudin lorem dictum. Integer venenatis ipsum nisl, non iaculis
                    massa elementum nec. Aenean dapibus metus ut mauris vehicula tincidunt vel maximus est. Morbi libero
                    turpis, tempor sit amet congue pharetra, tempus laoreet ligula.
                </p>
                <p class="text__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in diam at odio rhoncus dignissim id
                    quis eros. Vestibulum ac dapibus tellus. Sed sodales nec odio feugiat sollicitudin. Pellentesque
                    luctus porta elementum. Vestibulum ut mauris quis nibh suscipit lacinia. Curabitur auctor molestie
                    erat vitae placerat. Cras luctus lorem magna, sit amet egestas ligula facilisis sit amet. Praesent
                    suscipit, lectus vitae suscipit mattis, tortor ipsum aliquet quam, non semper odio lorem id lacus.
                    Donec congue metus sed magna congue, non convallis nulla cursus. Fusce imperdiet metus vel tellus
                    fermentum, nec suscipit tellus blandit. Ut sollicitudin quis urna sed luctus. Etiam dignissim metus
                    auctor lorem venenatis, at sollicitudin lorem dictum. Integer venenatis ipsum nisl, non iaculis
                    massa elementum nec. Aenean dapibus metus ut mauris vehicula tincidunt vel maximus est. Morbi libero
                    turpis, tempor sit amet congue pharetra, tempus laoreet ligula.
                </p>
                <p class="text__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in diam at odio rhoncus dignissim id
                    quis eros. Vestibulum ac dapibus tellus. Sed sodales nec odio feugiat sollicitudin. Pellentesque
                    luctus porta elementum. Vestibulum ut mauris quis nibh suscipit lacinia. Curabitur auctor molestie
                    erat vitae placerat. Cras luctus lorem magna, sit amet egestas ligula facilisis sit amet. Praesent
                    suscipit, lectus vitae suscipit mattis, tortor ipsum aliquet quam, non semper odio lorem id lacus.
                    Donec congue metus sed magna congue, non convallis nulla cursus. Fusce imperdiet metus vel tellus
                    fermentum, nec suscipit tellus blandit. Ut sollicitudin quis urna sed luctus. Etiam dignissim metus
                    auctor lorem venenatis, at sollicitudin lorem dictum. Integer venenatis ipsum nisl, non iaculis
                    massa elementum nec. Aenean dapibus metus ut mauris vehicula tincidunt vel maximus est. Morbi libero
                    turpis, tempor sit amet congue pharetra, tempus laoreet ligula.
                </p>
                <p class="text__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in diam at odio rhoncus dignissim id
                    quis eros. Vestibulum ac dapibus tellus. Sed sodales nec odio feugiat sollicitudin. Pellentesque
                    luctus porta elementum. Vestibulum ut mauris quis nibh suscipit lacinia. Curabitur auctor molestie
                    erat vitae placerat. Cras luctus lorem magna, sit amet egestas ligula facilisis sit amet. Praesent
                    suscipit, lectus vitae suscipit mattis, tortor ipsum aliquet quam, non semper odio lorem id lacus.
                    Donec congue metus sed magna congue, non convallis nulla cursus. Fusce imperdiet metus vel tellus
                    fermentum, nec suscipit tellus blandit. Ut sollicitudin quis urna sed luctus. Etiam dignissim metus
                    auctor lorem venenatis, at sollicitudin lorem dictum. Integer venenatis ipsum nisl, non iaculis
                    massa elementum nec. Aenean dapibus metus ut mauris vehicula tincidunt vel maximus est. Morbi libero
                    turpis, tempor sit amet congue pharetra, tempus laoreet ligula.
                </p>
                <p class="text__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in diam at odio rhoncus dignissim id
                    quis eros. Vestibulum ac dapibus tellus. Sed sodales nec odio feugiat sollicitudin. Pellentesque
                    luctus porta elementum. Vestibulum ut mauris quis nibh suscipit lacinia. Curabitur auctor molestie
                    erat vitae placerat. Cras luctus lorem magna, sit amet egestas ligula facilisis sit amet. Praesent
                    suscipit, lectus vitae suscipit mattis, tortor ipsum aliquet quam, non semper odio lorem id lacus.
                    Donec congue metus sed magna congue, non convallis nulla cursus. Fusce imperdiet metus vel tellus
                    fermentum, nec suscipit tellus blandit. Ut sollicitudin quis urna sed luctus. Etiam dignissim metus
                    auctor lorem venenatis, at sollicitudin lorem dictum. Integer venenatis ipsum nisl, non iaculis
                    massa elementum nec. Aenean dapibus metus ut mauris vehicula tincidunt vel maximus est. Morbi libero
                    turpis, tempor sit amet congue pharetra, tempus laoreet ligula.
                </p>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <h2 class="title callback__title">Получите бесплатную консультацию</h2>
                <h3 class="callback__subtitle">Более 2000 людей продлили свою жизнь на год</h3>
                <button class="callback__btn">Получить помощь</button>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__left">
                    <a href="#" class="footer__logo"></a>
                    <a href="#" class="footer__link">Политика конфиденциальности</a>
                </div>
                <ul class="footer__list">
                    <li class="list__item">
                        <a href="#" class="item__link">Услуги</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Отзывы</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Статьи</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Вопрос-ответ</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Контакты</a>
                    </li>
                </ul>
                <div class="footer__right">
                    <a href="#" class="footer__phone">+7 (999) 123-34-56</a>
                    <div class="footer__socials">
                        <a href="#" class="socials__link socials__link--vk"></a>
                        <a href="#" class="socials__link socials__link--inst"></a>
                        <a href="#" class="socials__link socials__link--fb"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Подключаем все скрипты -->
    <script src="./assets/scripts/jquery.min.js"></script>
    <script src="./assets/scripts/slick.js"></script>
    <script src="./assets/scripts/main.js"></script>
    <!-- Подключаем все скрипты -->
</body>

</html>